* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    min-height: 80%;
    background-color: #6f1a07;
}

.header {
    background-color:#a5a09b;
}

.header__page-title {
    text-align: center;
    margin: 10px;
}

.git-commands {
    gap: 16px;
    grid-template:repeat(6, 1fr) / 1fr 3fr;
    display: grid;
    margin: 24px;
}

.git-commands__command {
    background-color:#b4c292;
    border-radius: 16px;
    padding: 10px;
    font-size: 2rem;
    color: black;
}

.git-commands__effects{
    background-color:#3b3923;
    border-radius: 16px;
    padding: 15px;
    font-size: 2rem;
    color: white;
}
